In [1]:
import pandas as pd
import ast
import json
import re

In [2]:
df = pd.read_csv("C:/Users/cesua/OneDrive/Documentos/Henry/Proyecto_Individual_1/Datasets/movies_dataset.csv")
df.head()

C:\Users\cesua\AppData\Local\Temp\ipykernel_7964\2240427002.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/cesua/OneDrive/Documentos/Henry/Proyecto_Individual_1/Datasets/movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

1. Las columnas belongs_to_collection, production_companies, production_countries y genres estÃ¡n anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, se procedera a desanidarlos para poder unirlos al dataset de nuevo, asi poder hacer alguna de las consultas de la API o bien buscar la manera de acceder a esos datos sin desanidarlos.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Proceso de desanidar columna 'belongs_to_collection'

In [4]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [5]:
# Esta funciÃ³n verifica si el valor proporcionado es un diccionario vÃ¡lido o una cadena que representa un diccionario. 
# Si es un diccionario vÃ¡lido, devuelve el valor correspondiente a la clave especificada, de lo contrario, devuelve None.

def obtener_valor(dicc, clave):
    if pd.isnull(dicc):
        return None
    if not isinstance(dicc, dict):
        try:
            dicc = json.loads(dicc.replace("'", "\""))
        except (json.JSONDecodeError, AttributeError):
            return None
    if isinstance(dicc, dict):
        return dicc.get(clave)
    else:
        return None

In [6]:
# Aplicar la funciÃ³n a la columna "belongs_to_collection"

df['id_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'id'))
df['name_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'name'))
df['poster_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'poster_path'))
df['backdrop_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'backdrop_path'))

In [7]:
# Eliminar columna belongs_to_collection

del df['belongs_to_collection']

In [8]:
df.columns

Index(['adult', 'budget', 'genres', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count', 'id_btc',
       'name_btc', 'poster_btc', 'backdrop_btc'],
      dtype='object')

Proceso de desanidar columna 'genres'

In [9]:
# Esta funciÃ³n desanida los gÃ©neros contenidos en una lista de diccionarios.
def desanidar_generos(genres): 
    genero_id = []
    genero_nombre = []
    for genero in genres:
        genero_id.append(genero['id'])
        genero_nombre.append(genero['name'])
    return genero_id, genero_nombre

# Aplicar la funciÃ³n desanidar_generos a la columna 'genres'
generos_desanidados = df['genres'].apply(lambda x: desanidar_generos(eval(x)))

# Crear un nuevo DataFrame a partir de los gÃ©neros desanidados
nuevo_df = pd.DataFrame(generos_desanidados.tolist(), columns=['genero_id', 'genero_nombre'])

# Explotar las columnas para que cada fila tenga un solo gÃ©nero
nuevo_df = nuevo_df.apply(pd.Series.explode)

# Reiniciar el Ã­ndice del DataFrame
nuevo_df = nuevo_df.reset_index(drop=True)

# Mostrar las primeras filas del nuevo DataFrame
nuevo_df.head()

  genero_id genero_nombre
0        16     Animation
1        35        Comedy
2     10751        Family
3        12     Adventure
4        14       Fantasy

In [10]:
# Elimina la columna anidada genres
del df['genres']

In [11]:
# Unir el DataFrame original con las columnas 'genero_id' y 'genero_nombre' del nuevo DataFrame
df = df.join(nuevo_df[['genero_id', 'genero_nombre']])

Proceso desanidar columna 'production_countries'

In [13]:
# FunciÃ³n personalizada para normalizar la columna "production_countries"
def normalize_production_countries(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, value)
        return ', '.join(matches)
    except (TypeError, AttributeError):
        return ''

# Aplicamos la funciÃ³n personalizada a cada elemento de la columna "production_countries"
df['country'] = df['production_countries'].apply(normalize_production_countries)

In [14]:
# Eliminamos la columna anidada production_countries
del df['production_countries']

In [15]:
# Renombro la columna a su nombre original
df = df.rename(columns={'country': 'production_countries'})

Proceso desanidar columna 'production_companies'

In [16]:
# FunciÃ³n personalizada para normalizar la columna "production_companies"
def normalize_production_companies(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, value)
        return [match for match in matches]
    except (TypeError, AttributeError):
        return []

# Aplicamos la funciÃ³n personalizada a cada elemento de la columna "production_companies"
df['production_companies'] = df['production_companies'].apply(normalize_production_companies)

In [17]:
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'id_btc', 'name_btc', 'poster_btc',
       'backdrop_btc', 'genero_id', 'genero_nombre', 'production_countries'],
      dtype='object')

2. Los valores nulos de los campos "revenue", "budget" deben ser rellenados por el nÃºmero 0.

In [18]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

adult                    object
budget                   object
homepage                 object
id                       object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity               object
poster_path              object
production_companies     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
video                    object
vote_average            float64
vote_count              float64
id_btc                  float64
name_btc                 object
poster_btc               object
backdrop_btc             object
genero_id                object
genero_nombre            object
production_countries     object
dtype: object

In [19]:
# Los valores nulos de los campos revenue, budget son rellenados por el nÃºmero 0
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)
print('Nulos en revenue',df.revenue.isna().sum())
print('Nulos en budget',df.revenue.isna().sum())

Nulos en revenue 0
Nulos en budget 0

In [20]:
# Reemplazar los valores no numÃ©ricos por NaN
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

In [21]:
# convierte la columna budget en flotante
df['budget'] = df['budget'].astype(float)

3. Crear la columna con el retorno de inversiÃ³n, llamada return con los campos revenue y budget, dividiendo estas dos Ãºltimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberÃ¡ tomar el valor 0.

In [23]:
# Definir una funciÃ³n para calcular el retorno de inversiÃ³n
def calcular_retorno(row):
    revenue = row['revenue']
    budget = row['budget']
    
    # Verificar si hay datos faltantes o el presupuesto es igual a cero
    if pd.isnull(revenue) or pd.isnull(budget) or budget == 0:
        return 0
    
    # Calcular el retorno de inversiÃ³n y redondearlo a dos decimales
    return round(revenue / budget, 2)

# Aplicar la funciÃ³n a cada fila del DataFrame para crear la columna "return"
df['return'] = df.apply(calcular_retorno, axis=1)

In [24]:
df['return'].isna().sum()

0

In [25]:
df['return'].unique()

array([12.45,  4.04,  0.  , ..., 12.75, 24.39, 16.8 ])

4. Los valores nulos del campo release date deben eliminarse.

In [26]:
# eliminamos los registros con nulos 
df = df.dropna(subset = ['release_date'])

# controlamos para verificar que no existan nulos
df['release_date'].isnull().sum()

0

5. De haber fechas, deberÃ¡n tener el formato AAAA-mm-dd, ademÃ¡s deberÃ¡n crear la columna release_year donde extraerÃ¡n el aÃ±o de la fecha de estreno.

In [27]:
# De haber fechas, deberÃ¡n tener el formato AAAA-mm-dd, ademÃ¡s deberÃ¡n crear la columna release_year donde extraerÃ¡n el aÃ±o de la fecha de estreno.
# Le damos el formato de fecha a todos los valores de la columna y los que no, le asignamos la etiqueta de nulo
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Se asegura que todos los registros tengan el mismo formato de fecha AAAA-MM-DD
df['release_date'] = pd.to_datetime(df['release_date']).dt.strftime('%Y-%m-%d')

# se identifican la cantidad de datos nulos de la columna 'release_date' 
df['release_date'].isnull().sum()

3

In [28]:
# creamos una nueva columna 'release_year' que va a contener unicamnete el dato de aÃ±o de la columna 'release_date' 
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_year']=df['release_date'].dt.year

# hacemos control sobre los cambios
df[['release_date','release_year']].head(10)

  release_date  release_year
0   1995-10-30        1995.0
1   1995-12-15        1995.0
2   1995-12-22        1995.0
3   1995-12-22        1995.0
4   1995-02-10        1995.0
5   1995-12-15        1995.0
6   1995-12-15        1995.0
7   1995-12-22        1995.0
8   1995-12-22        1995.0
9   1995-11-16        1995.0

6. Eliminar las columnas que no serÃ¡n utilizadas, video, imdb_id, adult, original_title, homepage y poster_path.

In [29]:
# Se eliminan las columnas inecesarias
df.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'], inplace = True)
df.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'id_btc', 'name_btc', 'poster_btc', 'backdrop_btc', 'genero_id',
       'genero_nombre', 'production_countries', 'return', 'release_year'],
      dtype='object')

In [30]:
# Se eliminan columnas adicional que no tienen relevancio en el dataframe como poster_btc, backdrop_btc
df.drop(columns=['poster_btc', 'backdrop_btc'], inplace = True)

In [31]:
df.head(10)

,budget,id,original_language,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,...,tagline,title,vote_average,id_btc,name_btc,genero_id,genero_nombre,production_countries,return,release_year
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,NaN,Toy Story,7.7,10194.0,Toy Story Collection,16,Animation,United States of America,12.45,1995.0
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,Roll the dice and unleash the excitement!,Jumanji,6.9,NaN,None,35,Comedy,United States of America,4.04,1995.0
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,119050.0,Grumpy Old Men Collection,10751,Family,United States of America,0.00,1995.0
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,NaN,None,12,Adventure,United States of America,5.09,1995.0
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,96871.0,Father of the Bride Collection,14,Fantasy,United States of America,0.00,1995.0
5,60000000.0,949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[Regency Enterprises, Forward Pass, Warner Bros.]",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,A Los Angeles Crime Saga,Heat,7.7,NaN,None,10751,Family,United States of America,3.12,1995.0
6,58000000.0,11860,en,An ugly duckling having undergone a remarkable...,6.677277,"[Paramount Pictures, Scott Rudin Productions, ...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",...,You are cordially invited to the most surprisi...,Sabrina,6.2,NaN,None,10749,Romance,"Germany, United States of America",0.00,1995.0
7,0.0,45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,[Walt Disney Pictures],1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,The Original Bad Boys.,Tom and Huck,5.4,NaN,None,35,Comedy,United States of America,0.00,1995.0
8,35000000.0,9091,en,International action superstar Jean Claude Van...,5.23158,"[Universal Pictures, Imperial Entertainment, S...",1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Terror goes into overtime.,Sudden Death,5.5,NaN,None,35,Comedy,United States of America,1.84,1995.0
9,58000000.0,710,en,James Bond must unmask the mysterious head of ...,14.686036,"[United Artists, Eon Productions]",1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,No limits. No fears. No substitutes.,GoldenEye,6.6,645.0,James Bond Collection,18,Drama,"United Kingdom, United States of America",6.07,1995.0

In [32]:
df.to_csv('C:/Users/cesua/OneDrive/Documentos/Henry/Proyecto_Individual_1/Datasets/movies_dataset_final.csv', index=False)